<h1>Garth's Amazing E-Commerce Site About Page</h1>
<p><h3>Welcome to the about page!  This is a web application used to purchase products with various pages simulating a real-world e-commerce shopping site.</h3></p>