<h1>Garth's Amazing E-Commerce Site Help Page</h1>
<p><h3>Welcome to the help page!  To use this application, one is able to click on the various pages on the navigation bar in the upper-left portion of the screen.  To purchase a product, click the "Add to Cart" button, and the "Keep Shopping" button, etc for additional functionality.</h3></p>
