<h1>Garth's Amazing E-Commerce Site Home Page</h1>
<p><h3>Welcome!  Through using this application one is able to buy books, putting them into a shopping cart, and browse the catalog of products.</h3></p>
